<% provide(:title, "DISCOGRAPHY") %>
<div class="container">
  <h3>Discography</h3>
  <div>
    <%= image_tag 'journeyman.jpeg', class: "item-picture" %>
  </div>
  <div class="item-info">
    <h4>journeyman</h4>
    <h4>¥,2,500</h4>
  </div>
</div>