<%# render 'shared/flash_messages' %>
<div class="center jumbotron">
  <h1>Welcome to the IZO HP</h1>
</div>
<div class="container">
  <div class="item-section">
    <%= image_tag 'journeyman.jpeg', class: "item-img" %>
  </div>
  <div class="main-section">
    <div class="row">
      <div class="col-md-12">
        <%= render @live %>
      </div>
    </div>
  </div>
</div>