<% provide(:title, "PROFILE") %>
<h3>Profile</h3>
<div class="profile row">
  <div class="mb-3 col-md-5">
    <%= image_tag 'izo_profile.jpg', class: "img" %>
  </div>
  <div class="content col-md-6 col-md-offset-1">
    <p>Izo （イゾー）</p>
    <P>数々のバンドやサポートを経て、現在は「聴き易いギターインスト・ロック/ポップ」を志向し活動するギタリスト。</P>
    <P>また現在はギター講師やサポート・ギタリストとしても精力的に活動する。</P>
    <p>山口県出身、7月7日生まれのA型。</p>
    <P>※･･･ギターレッスンやサポートのお問い合わせは当サイト「Contact」よりお願い致します。</P>
    <P><%= link_to 'セイジョーミュージックスクール', 'http://seijo-ms.com/guitar/', target: :_blank, class: 'hp-link'%></P>
  </div>
</div>

