<% provide(:title, "PROFILE") %>
<div class="container">
  <h3>profile</h3>
  <div class="profile d-flex flex-column align-items-center flex-md-row">
    <%= image_tag 'izo_profile.jpg', class: "profile-img" %>
    <div class="profile-content">
      <p>Izo （イゾー）</p>
      <P>AXBITES～VALTHUS～ANCIENT MYTHを経て、現在はメロディック・デスメタル・バンド「Veiled in Scarlet」に所属するギタリスト。</P>
      <P>覆面インスト・ロック・バンド「Mask a Laid」の活動休止に伴い、ソロのインスト活動を始める。
      「聴き易いギターインスト・ロック/ポップ」を志向し、精力的に活動する。</P>
      <p>山口県出身、7月7日生まれのA型。</p>
      <P><%= link_to 'Veiled in Scarlet', 'http://www.veiledinscarlet.com/', target: :_blank, class: 'hp-link' %></P>
      <P><%= link_to 'Mask a Laid', 'https://maskalaidband.wixsite.com/maskalaid', target: :_blank, class: 'hp-link'%></P>
    </div>
  </div>
</div>