<h3>お問い合わせ内容</h3>

------------------------------------------------
<p>差出人: <%= @contact.sender %></p>

<p>メールアドレス: <%= @contact.email %></p>

<p>件名: <%= @contact.subject %></p>

<p>本文: <%= simple_format(h(@contact.content)) %></p>