<h3>お問い合わせ内容</h3>

------------------------------------------------
<p>差出人: <%= @contact.sender %></p>

<p>email: <%= @contact.email %></p>

<p>subject: <%= @contact.subject %></p>

<p>content: <%= @contact.content %></p>