<div class="ticket-btn">
  <button type="button" onclick="window.open('https://ssl.form-mailer.jp/fms/b51a8ad5644311','blank')" class="btn btn-dark btn-block">
    <%= image_tag 'mask.png', class: 'mask' %>チケット予約<%= image_tag 'mask.png', class: 'mask' %></button>
</div>