<% provide(:title, "LIVE") %>
<div class="live-schedule row">
  <div class="col-md-12">
    <h3>Live schedule</h3>
    <%= render "ticket_btn" %>
    <ol class="lives d-flex flex-column justify-content-center">
      <%= render @lives %>
    </ol>
  </div>
</div>
