<% provide(:title, "LIVE") %>
<div class="row">
  <div class="col-md-8">
    <h3>Live schedule</h3>
    <ol class="lives d-flex flex-column justify-content-center">
      <%= render @lives %>
    </ol>
  </div>
</div>
