@import "bootstrap";

.container-login {
  @extend .container-fluid;
  max-width: 576px;
  padding: 2rem;
}

.alert-notice {
  @extend .alert-info;
}

.alert-alert {
  @extend .alert-danger;
}

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;
$gray-light: #777;
$gray: lighten(#000, 33.5%);
$gray-darker: lighten(#000, 13.5%);
$state-danger-text: #a94442;
$gray-lighter: lighten(#000, 93.5%);

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

.main-wrapper {
  background-image: url(fire.png);
  background-size: cover;
  background-color: black;
  background-blend-mode: hard-light;
}

.container {
  @extend .container-fluid;
  max-width:1100px;
  padding: 2rem;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

/* typography */

h1, h2, h3, h4, h5, h6, p {
  line-height: 1;
  color: whitesmoke
}

h1 {
  font-size: 4em;
  letter-spacing: -2px;
  margin-top: 50px;
  margin-bottom: 70px;
  text-align: center;
  text-shadow:3px 3px 0 black;
}

h2 {
  font-size: 3em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

h3 {
  text-align: center;
  border-width: 10px 0;
  border-style: groove;
  margin: 40px 0;
}

h5 {
  font-weight: normal;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.partial-link {
  color: whitesmoke;
  &:hover {
    text-decoration: none;
    color: whitesmoke;
  }
}

.fa-twitter{color:#1da1f2;}
.fa-facebook-square{color:#3b5998;}
.fa-instagram{color:#e1306c;}
.fa-youtube{color:#ff0000;}

/* header */

header {
  height: 60px;
  width: 100%;
  #logo {
    font-size: 30px;
    margin-left: 40px;
  }
}

/* footer */

footer {
  height: 150px;
  padding-top: 10px;
  color: whitesmoke;
  .sns-icon {
    margin: 0 3px 20px 3px;
  }
  small {
    text-align: center;
    display: block;
  }
}

/* pages_home */

.heading {
  color: whitesmoke;
  &:hover {
    text-decoration: none;
    color: whitesmoke;
  }
}

.item-section {
  text-align: center;
  .item {
    margin: 10px;
    width: 100%;
  }
  .image {
    max-width: 400px;
  }
  .info {
    h4 {
      line-height: 1.9;
    }
  }
}

@media (max-width: 770px) {
  .item-section {
    .youtube {
      width:100%;
      padding-bottom: 56.25%;
      height:0px;
      position: relative;
    }
    .youtube iframe {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.main-section {
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
  .main {
    h3 {
      margin-bottom: 0;
    }
    .read-more {
      display: block;
      text-align: right;
      color: whitesmoke;
      padding-bottom: 10px;
      &:hover {
        text-decoration: none;
        color: whitesmoke;
      }
    }
  }
  .side {
    .sns-box {
      text-align: center;
      .twitcas-cm {
        background-color: #1da1f2;
        border-radius: 2%;
        p {
          margin-bottom: 0;
          font-weight: bold;
        }
        .izo-chara {
          width: 50%;
        }
      }
    }
  }
}



.brand-section {
  margin-top: 100px;
  .brand-link {
    padding: 0;
    .brand-logo {
      width: 80%;
    }
  }
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

/* post & live*/

.show-image-section {
  width: 100%;
  .image {
    margin: 0;
    width: 100%;
    height: auto;
  }
}

@media (min-width: 992px) {
  .show-image-section {
    width: 60% !important;
  }
  .post-info {
    .image {
      padding-left: 20px !important;
    }
  }
}

/* post */

.posts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}

.post-info {
  color: white;
  .title {
    display: block;
    font-weight: bold;
    font-size: 20px;
  }
  .description {
    display: block;
  }
  .date {
    color: $gray-light;
    text-align: right;
    display: block;
    margin-bottom: 10px;
  }
  .edit {
    display: block;
    text-align: right;
  }
}


/* ticket-btn */

.ticket-btn {
  text-align: center;
  margin-bottom: 15px;
  button {
    height: 50px;
    font-weight: bold;
    font-size: 1.5em;
    .mask {
      height: 90%;
      margin: 0 10px 3px 10px;
    }
  }
}

/* live */

.live-schedule {
  h3 {
    margin-bottom: 10px;
  }
}

.lives {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}

.live-info {
  color: white;
  .image {
    float: left;
    margin-right: 20px;
  }
  .date, .place, .title {
    font-size: 30px;
    font-weight: bold;
  }
  .date, .place, .title, .time, .price, .performer, .sitelink, .description, .edit {
    display: block;
    margin-left: 30px;
  }
}

/* discography */

.discography {
  .image {
    width: 100%;
  }
  .title {
    font-size: 2em;
    margin-bottom: 12px;
  }
  .youtube{
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 56.25%;
  }
  .youtube iframe{
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, 20%);
      width: 70%;
      height: 70%;
  }
  .shop-logo {
    width: 50px;
    margin: 0 5px;
  }
}

/* profile */

.profile {
  .img {
    width: 100%;
  }
  .content {
    padding: 0 40px;
  }
  .hp-link {
    color:whitesmoke;
  }
}


/* contact */

.contact {
  h3 {
    margin-bottom: 10px;
  }
}
