@import "bootstrap";

// ログイン画面

.container-login {
  @extend .container-fluid;
  max-width: 576px;
  padding: 2rem;
}

// 「ログインしました」などのフラッシュ用スタイル

.alert-notice {
  @extend .alert-info;
}

.alert-alert {
  @extend .alert-danger;
}

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;
$gray-light: #777;
$gray: lighten(#000, 33.5%);
$gray-darker: lighten(#000, 13.5%);
$state-danger-text: #a94442;
$gray-lighter: lighten(#000, 93.5%);

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

.main-wrapper {
  background-image: url(fire.png);
  background-size: cover;
  background-color: black;
  background-blend-mode: hard-light;
}

.container {
  @extend .container-fluid;
  max-width:1100px;
  padding: 2rem;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  color: whitesmoke
}

h1 {
  font-size: 4em;
  letter-spacing: -2px;
  margin-top: 50px;
  margin-bottom: 70px;
  text-align: center;
  text-shadow:3px 3px 0 black;
}

h2 {
  font-size: 3em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

h3 {
  text-align: center;
  border-width: 10px 0;
  border-style: groove;
  margin: 40px 0;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.partial-link {
  color: #212529;
  &:hover {
    text-decoration: none;
    color: #212529;
  }
}
  

/* header */

header {
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  #logo {
    font-size: 30px;
    margin-left: 40px;
  }
}

/* footer */

footer {
  height: 50px;
  padding-top: 10px;
}

/* pages_home */

.heading {
  color: whitesmoke;
  &:hover {
    text-decoration: none;
    color: whitesmoke;
  }
}

.jumbotron {
  height: 400px;
  margin-bottom: 0;
}

.main-section {
  padding: 30px 0;
  h3 {
    margin-bottom: 0;
  }
}

.item-picture {
  height: 250px;
  width: 250px;
}


.read-more {
  display: block;
  text-align: right;
  color: whitesmoke;
  padding-bottom: 10px;
  &:hover {
    text-decoration: none;
    color: whitesmoke;
  }
}

.sns-box {
  text-align: center;
}

.brand-section {
  margin-top: 100px;
  .brand-link {
    margin-top: 50px;
    height: 100px;
    width: 150px;
  }
}


/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

// .field_with_errors {
//   @extend .has-error;
//   .form-control {
//     color: $state-danger-text;
//   }
// }

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/* post */

.posts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}

.post-info {
  color: white;
  .picture {
    float: left;
    margin-left: 20px;
    margin-top: 5px;
    width: 250px;
    height: 250px;
  }
  .picture-show {
    margin-left: 20px;
    margin-top: 5px;
    width: 100%;
    height: auto;
  }
  .title {
    display: block;
    // margin-top: 1em;
    font-weight: bold;
    font-size: 20px;
  }
  .description {
    display: block;
  }
  .date {
    color: $gray-light;
    text-align: right;
    display: block;
  }
  .edit {
    display: block;
    text-align: right;
  }
}

/* live */

.live-schedule {
  h3 {
    margin-bottom: 10px;
  }
  .ticket-btn {
    text-align: center;
    margin-bottom: 15px;
  }
}

.lives {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}

.live-info {
  color: white;
  .picture {
    float: left;
    margin-right: 20px;
    margin-top: 5px;
    width: 250px;
    height: 250px;
  }
  .picture-show {
    width: 100%;
    height: auto;
  }
  .date {
    display: block;
    margin-top: 1em;
    margin-left: 30px;
    font-weight: bold;
    font-size: 20px;
  }
  .place {
    display: block;
    margin-left: 30px;
    font-weight: bold;
    font-size: 20px;
  }
  .title {
    display: block;
    margin-left: 30px;
    font-weight: bold;
    font-size: 20px;
  }
  .time {
    display: block;
    margin-left: 30px;
  }
  .price {
    display: block;
    margin-left: 30px;
  }
  .performer {
    display: block;
    margin-left: 30px;
  }
  .description {
    display: block;
    margin-left: 30px;
  }
  .edit {
    display: block;
    margin-left: 30px;
  }
}

/* profile */

.profile-img {
  height: 400px;
  width: 400px;
}

.profile-content {
  padding: 40px;
  color:whitesmoke;
  .hp-link {
    color:whitesmoke;
  }
}
