<footer class="footer bg-dark">
  <div class="sns-icons d-flex justify-content-center">
    <a href='https://twitter.com/Izo_ViS' target="_blank"><i class="fab fa-twitter fa-4x sns-icon"></i></a>
    <a href='https://www.facebook.com/IzoSoloArtist' target="_blank"><i class="fab fa-facebook-square fa-4x sns-icon"></i></a>
    <a href='https://www.youtube.com/channel/UC5U2206wiEBdPzEw1fpEVQg' target="_blank"><i class="fab fa-youtube fa-4x sns-icon"></i></a>
    <a href='https://www.instagram.com/izo_vis/?hl=ja'  target="_blank"><i class="fa-instagram fa-4x sns-icon"></i></a>
    <a href='https://ameblo.jp/izo/' target='_blank'><%= image_tag 'blog.png', class: 'sns-icon blog' %></a>
  </div>
  <small>Copyright © 2020 Izo .All Rights Reserved.</small>
</footer>